<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IObserverService"
                       maxBufferSize="2147483647"
                       maxBufferPoolSize="2147483647"
                       maxReceivedMessageSize="2147483647"
                       transferMode="Streamed">
                <readerQuotas maxDepth="128"
                       maxStringContentLength="2147483647" maxArrayLength="2147483647"
                       maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
              </binding>
                  
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IObserverService" maxBufferSize="2147483647"
                       maxBufferPoolSize="2147483647"
                       maxReceivedMessageSize="2147483647"
                       transferMode="Streamed">
                  <readerQuotas maxDepth="128"
                         maxStringContentLength="2147483647" maxArrayLength="2147483647"
                         maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ObserverService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObserverService" contract="ObserverService.IObserverService" name="BasicHttpBinding_IObserverService" />
            <endpoint address="net.tcp://localhost:8090/ObserverService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IObserverService" contract="ObserverService.IObserverService" name="NetTcpBinding_IObserverService">
                <identity>
                    <userPrincipalName value="user-HP\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="2097150"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>